<div class="eight wide column">
    <div style="width:75%;">
        <canvas id="linechart"></canvas>
    </div>
</div>
<div class="eight wide column">
    <div style="width:75%;">
        <canvas id="barchart"></canvas>
    </div>
</div>
