<!--DESKTOP SIDEBAR-->
<div class="ui visible left vertical inverted labeled icon sidebar menu" id="sidebar">
    <a href="/physician" class="item"><i class="home icon"></i>Home</a>
    <a href="/physician/list" class="item"><i class="user circle outline icon"></i>Patients</a>
    <a href="/calendar" class="item"><i class="calendar icon"></i>Calendar</a>
    <a href="/chatview" class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a href="/settings"class="item"><i class="settings icon"></i>Settings</a>
</div>

<!--MOBILE SIDEBAR-->
<div class="ui bottom inverted six item labeled icon sidebar menu visible">
    <a href="/physician" class="item"><i class="home icon"></i>Home</a>
    <a href="/physician/list" class="item"><i class="user circle outline icon"></i>Patients</a>
    <a href="/calendar" class="item"><i class="calendar icon"></i>Calendar</a>
    <a href="/chatview" class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a href ="/settings" class="item"><i class="settings icon"></i>Settings</a>
</div>