<!--DESKTOP SIDEBAR-->
<div class="ui visible left vertical inverted labeled icon sidebar menu" id="sidebar">
    <a href="/physician" class="item"><i class="home icon"></i><p>Home</p></a>
    <a href="/physician/list" class="item"><i class="user circle outline icon"></i><p>Patients</p></a>
    <a href="/calendar" class="item"><i class="calendar icon"></i><p>Calendar</p></a>
    <a href="/chatview" class="item"><i class="comment icon"></i><p>Messaging</p></a>
    <a class="item"><i class="payment icon"></i><p>Billing</p></a>
    <a href="/settings" class="item"><i class="settings icon"></i><p>Settings</p></a>
</div>

<!--MOBILE SIDEBAR-->
<div class="ui bottom inverted six item labeled icon sidebar menu visible" id="navbar">
    <a href="/physician" class="item"><i class="home icon"></i><p>Home</p></a>
    <a href="/physician/list" class="item"><i class="user circle outline icon"></i><p>Patients</p></a>
    <a href="/calendar" class="item"><i class="calendar icon"></i><p>Calendar</p></a>
    <a href="/chatview" class="item"><i class="comment icon"></i><p>Messaging</p></a>
    <a class="item"><i class="payment icon"></i><p>Billing</p></a>
    <a href="/settings" class="item"><i class="settings icon"></i><p>Settings</p></a>
</div>