{{> nav}}

<div class="main ui grid container" id="main-container">
    <div class="ui container sixteen wide column">
        <h3>Calendar</h3>
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>