{{> nav}}

<div class="main ui grid container">

        <div class="ui container sixteen wide column">
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
            <div id="main-container">
                {{#each message}}
                    <div class="comment">
                    <a class="avatar">
                    <img src="{{this.avatar}}">
                    </a>
                     <div class="content">
                        <a class="author">{{this.username}}</a>
                        <div class="metadata">
                            <span class="date">{{ this.createdAt}}</span>
                        </div>
                        <div class="text">
                            {{this.message}}
                        </div>
                </div>
            </div>
            {{/each}}
     </div>
            <form class="ui reply form" id="messageForm">
                <div class="field">
                     <textarea id="message"></textarea>
                </div>
                <div id="typingmessage"></div>
                <div class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Send
                </div>
                <input type="submit">
            </form>

        </div>
    </div>
</div>