<h3>Online Users</h3>
<ul class="list-group"></ul>

<div id="users"></div>
<div class="chat" id="chat">
    <div id="typingmessage"></div>
</div>

<form id="messageForm">
    <textarea id="message" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Send Message">
</form>