<style>
    p {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 30px;
        color: black;
    }

    body {
        background-color: #ffe6e6
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui basic segment">
            <img class="ui medium centered image" src="assets/images/patient-stack.svg">
        </div>
        <h2 class="ui red image header">
            <div class="content">
                <p>We're sorry. We can't find the page you're looking for.</p>
            </div>
        </h2>

    </div>
</div>