<!--==============================LOG-IN FORM============================-->
        <div id="log-sign-in">
            <div class="pure-u-3-4">
                <div class="pure-form" id="login-2">
                    <input type="email" placeholder="Email Address" id="user-name">
                    <input type="password" placeholder="Password" id="current-password">
                    <button class="pure-button pure-button-active" id="btn-login">LOGIN</button>
                </div>
            </div>
            <!--===================SIGN-UP FORM=======================================-->
            <div class="pure-u-3-4">
                <div class="pure-form" id="sign-up-2">
                    <input type="email" placeholder="Email" id="user-email">
                    <input type="password" placeholder="Password" id="user-password">
                    <button class="pure-button pure-button-active" id="btn-add">SIGN UP</button>
                </div>
            </div>
            <!-- end #log-sign-in -->
        </div>