<!--==============================LOG-IN FORM============================-->
        <div id="login">
            <div class="pure-u-3-4">
                <div class="pure-form" id="login-2">
                    <input type="email" placeholder="Email Address" id="user-name">
                    <input type="password" placeholder="Password" id="current-password">
                    <button class="pure-button pure-button-active" id="btn-login">LOGIN</button>
                </div>
            </div>
        </div>