<!--SIDEBAR-->
<div class="ui visible left vertical inverted labeled icon sidebar menu" id="sidebar">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<!--MOBILE SIDEBAR-->
<div class="ui bottom inverted six item labeled icon sidebar menu visible">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<div class="ui main container">
    <div class="row">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i> {{patient.first_name}} {{patient.last_name}}
        </h2>
    </div>
    <!--row-->
    <br>
    <br>
    <div class="ui three column divided stackable grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/clipboard.png" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Medical Record</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/prescription.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Prescriptions</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/stethoscope.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Lab Results</h4>
                    </a>
                </div>
            </div>
        </div>
        <!--stretched row-->
        <div class="stretched row">
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/referral.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Specialists</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/message.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Message</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/message.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Nurse Advice</h4>
                    </a>
                </div>
            </div>
        </div>
        <!--stretched row-->
        <div class="stretched row">
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/notes.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">My Documents</h4>
                    </a>
                </div>
            </div>
        </div>
    </div><!--ui three column divided grid-->
</div><!--ui main container-->