{{> patientnav}}

<div class="ui main container">
    <div class="ui container sixteen wide column">
        <div class="ui raised teal segment" id="mcHeader">
            <div class="row">
                <h1 class="ui centered header">
                    <img src="{{patient.image}}" class="ui circular image"> {{patient.first_name}} {{patient.last_name}}
                    <a href="/">
                        <div id="logout" class="ui basic button">Log Out</div>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <!--row-->
    <br>
    <br>
    <div class="ui three column divided stackable grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui teal segment">
                    <a href="/record"><img class="ui centered image" src="/assets/images/clipboard.png" height="150" width="150"></a>
                    <a href="/record">
                        <h4 class="ui center aligned header">Medical Record</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href="/labresults"><img class="ui centered image" src="/assets/images/stethoscope.svg" height="150" width="150"></a>
                    <a href="/labresults">
                        <h4 class="ui center aligned header">Lab Results</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/notes.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">My Documents</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="stretched row">
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/referral.svg" height="150" width="150"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Specialists</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href="/chatview"><img class="ui centered image" src="/assets/images/message.svg" height="150" width="150"></a>
                    <a href="/chatview">
                        <h4 class="ui center aligned header">Message</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href="tel:+18004644000"><img class="ui centered image" src="/assets/images/message.svg" height="150" width="150"></a>
                    <a href="tel:+18004644000">
                        <h4 class="ui center aligned header">Nurse Advice</h4>
                    </a>
                </div>
            </div>
        </div>
        <!--ui three column divided grid-->
    </div>
    <!--ui main container-->