{{!-- nav bar --}}
<div class="ui visible left vertical inverted labeled icon sidebar menu">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<div class="main ui grid container" id="main-container">
    <div class="ui container sixteen wide column">
        <h1>My Dashboard > My Patients</h1>
    </div>

    <div class="sixteen wide column">
        <table class="ui blue one column table" id="table">
            <thead>
                <tr class="sixteen wide column">
                    <th class="two wide column">Image</th>
                    <th class="four wide column">Name</th>
                    <th class="two wide column">Gender</th>
                    <th class="four wide column">Provider</th>
                    <th class="four wide column">Next Appt</th>
                </tr>
            </thead>
            <tbody>
                <tr class="sixteen wide column">
                    <td class="two wide column"><img class="ui avatar image" src="../assets/images/circle-image.png"></td>
                    <td class="four wide column">Darrell K. Borchers</td>
                    <td class="two wide column">M</td>
                    <td class="four wide column">Blue Cross</td>
                    <td class="four wide column">September 2, 2017</td>
                </tr>
                <tr class="sixteen wide column">
                    <td class="two wide column"><img class="ui avatar image" src="../assets/images/circle-image.png"></td>
                    <td class="four wide column">Angelica E. Dempsey</td>
                    <td class="two wide column">F</td>
                    <td class="four wide column">Medi-Cal</td>
                    <td class="four wide column">September 2, 2017</td>
                </tr>
                <tr class="sixteen wide column">
                    <td class="two wide column"><img class="ui avatar image" src="../assets/images/circle-image.png"></td>
                    <td class="four wide column">Erin A. Turner</td>
                    <td class="two wide column">F</td>
                    <td class="four wide column">Blue Shield</td>
                    <td class="four wide column">September 3, 2017</td>
                </tr>
                <tr class="sixteen wide column">
                    <td class="two wide column"><img class="ui avatar image" src="../assets/images/circle-image.png"></td>
                    <td class="four wide column">Joe S. Hayes</td>
                    <td class="two wide column">M</td>
                    <td class="four wide column">Blue Shield</td>
                    <td class="four wide column">September 3, 2017</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>