<form action="/patients/add" method="POST">
<input type="text" name="firstName">First Name
<input type="text" name="lastName">Last Name
<input type="text" name="dob">Date of Birth
<input type="text" name="streetAddress">Street Address
<input type="text" name="city">City
<input type="text" name="state">State
<input type="text" pattern="[0-9]{5}" name="zip">Five Digit Zip Code
<input type="text" name="telephone">Telephone Number
<input type="text" name="height">Height
<input type="text" name="weight">Weight
<input type="text" name="allergies">Allergies
<input type="text" name="procedures">Procedures
<input type="text" name="emergencyContactName">Emergency Contact Name
<input type="text" name="emergencyContactNumber">Emergency Contact Number
<input type="text" name="providerName">Provider Name
<input type="text" name="image">Profile Image Link

<button type="submit">Submit</button>
</form>