<div class="ui container">
    <!-- <div id="sidebar" class="ui sidebar inverted vertical menu">
                <a class="item">Patients</a>
                <a class="item">Calendar</a>
                <a class="item">Messaging</a>
                <a class="item">Billing</a>
            </div> -->

    <div class="ui left visible thin sidebar inverted vertical menu" id="sidebar">
        <div class="image">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/100x100"></a>
        </div>
        <!--image-->
        <a class="item" id="patients">
            <div class="ui simple dropdown item">
                <i class="user circle outline icon"></i> Patients
                <div class="menu">
                    <div class="item">Health Record</div>
                    <div class="item">Prescriptions</div>
                    <div class="item">Active Conditions</div>
                    <div class="item">Referrals</div>
                    <div class="item">Message</div>
                </div>
                <!--menu-->
            </div>
            <!--ui simple dropdown item-->
        </a>
        <!--patients-->
        <a class="item" id="calendar">
            <div class="ui simple dropdown item">
                <i class="calendar icon"></i> Calendar
                <div class="menu">
                    <div class="item">Add Appointment</div>
                    <div class="item">Cancel Appointment</div>
                    <div class="item">Add Notes</div>
                </div>
                <!--menu-->
            </div>
            <!--ui simple dropdown item-->
        </a>
        <!--calendar-->
        <a class="item" id="messaging">
            <div class="ui simple dropdown item">
                <i class="comment icon"></i> Messaging
                <div class="menu">
                    <div class="item">Inbox</div>
                    <div class="item">Send Message</div>
                </div>
                <!--menu-->
            </div>
            <!--ui simple dropdown item-->
        </a>
        <!--messaging-->
        <a class="item" id="billing">
            <div class="ui simple dropdown item">
                <i class="payment icon"></i> Billing
                <div class="menu">
                    <div class="item">Balance</div>
                    <div class="item">Make Payment</div>
                </div><!--menu-->
            </div><!--ui simple dropdown item-->
        </a><!--billing-->
    </div><!--ui left visible sidebar inverted vertical menu-->
    <!-- <div class="ui sidebar visible fixed inverted main menu screen tablet mobile only">
                <a class="launch icon item sidebar-toggle">
                    <i class="sidebar icon"></i>
                </a>
            </div> -->

    <!--  <div class="pusher"> -->
    <div class="main ui grid container" id="main-container">
        <div class="row">
            <h1>My Dashboard</h1>
        </div>

        <div class="eight wide column">
            <table class="ui inverted red one column table" id="table">
                <thead>
                    <tr>
                        <th><i class="alarm icon"></i>Alerts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                    </tr>
                    <tr>
                        <td>Jamie</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="eight wide column">
            <table class="ui blue one column table" id="table">
                <thead>
                    <tr>
                        <th><i class="checkmark box icon"></i>Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                    </tr>
                    <tr>
                        <td>Jamie</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row"></div>

        <div class="sixteen wide column">
            <table class="ui teal table">
                <thead>
                    <tr>
                        <th class="ten wide"><i class="hourglass start icon"></i>Upcoming</th>
                        <th class="six wide"></th>
                    </tr>
                    <tr>
                        <th class="ten wide">Name</th>
                        <th class="six wide">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Approved</td>
                    </tr>
                    <tr>
                        <td>Jamie</td>
                        <td>Approved</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Denied</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--  </div>pusher -->
    </div>
    <!--ui container-->
</div>
<!--ui container-->