<!--Physician Dashboard-->
<!--SIDEBAR-->
<div class="ui visible left vertical inverted labeled icon sidebar menu" id="sidebar">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<!--MOBILE SIDEBAR-->
<div class="ui bottom inverted six item labeled icon sidebar menu visible">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<div class="main ui stackable grid container">
    
        <div class="ui container sixteen wide column">
            <div class="ui raised blue segment">
                <div class="row">
                <h1 class="ui header">
                    <img src="../assets/images/person.png" class="ui circular image"> Welcome Dr. James Dean
                    <div class="ui basic blue button">Log Out</div>
                </h1>
            </div>
        </div>
    </div>

    <div class="eight wide column">
        <table class="ui inverted red one column table" id="table">
            <thead>
                <tr>
                    <th><i class="alarm icon"></i>Alerts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="mail outline icon"></i>New Message from Jamie</td>
                </tr>
                <tr>
                    <td><i class="mail outline icon"></i>New Message from Michael</td>
                </tr>
                <tr>
                    <td><i class="mail outline icon"></i>New Message from Diana</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="eight wide column">
        <table class="ui blue one column table" id="table">
            <thead>
                <tr>
                    <th><i class="checkmark box icon"></i>Tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label>Follow up call with Josh</label>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label>Follow up call with Beth</label>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="ui checked checkbox">
                        <input type="checkbox" checked="">
                        <label>Send in referral for Dave</label>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ui sixteen wide column">
        <table class="ui blue table" id="table">
            <thead>
                <tr>
                    <th class="three wide"><i class="alarm icon"></i>Upcoming Appointments</th>
                    <th class="three wide"></th>
                    <th class="five wide"></th>
                    <th class="five wide"></th>
                </tr>
                <tr>
                    <th class="three wide">Date</th>
                    <th class="three wide">Time</th>
                    <th class="five wide">Patient</th>
                    <th class="five wide">Appointment Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>May 24, 2017</td>
                    <td>10:00am</td>
                    <td>Abby Lee</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>May 24, 2017</td>
                    <td>10:30am</td>
                    <td>Phil Collins</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 24, 2017</td>
                    <td>11:00am</td>
                    <td>Will Smith</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 25, 2017</td>
                    <td>11:00am</td>
                    <td>Bill Nye</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 25, 2017</td>
                    <td>11:30am</td>
                    <td>Richard Simmons</td>
                    <td>Phone Appointment</td>
                </tr>
                <tr>
                    <td>May 26, 2017</td>
                    <td>1:30pm</td>
                    <td>Natalie Portman</td>
                    <td>Follow up visit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>