{{!-- nav bar --}}
<div class="ui visible left vertical inverted labeled icon sidebar menu">
    <a class="item"><i class="home icon"></i>Home</a>
    <a class="item"><i class="user circle outline icon"></i>Patients</a>
    <a class="item"><i class="calendar icon"></i>Calendar</a>
    <a class="item"><i class="comment icon"></i>Messaging</a>
    <a class="item"><i class="payment icon"></i>Billing</a>
    <a class="item"><i class="settings icon"></i>Settings</a>
</div>

<div class="main ui grid container" id="main-container">
    <div class="ui container sixteen wide column">
        <h1>My Dashboard</h1>
    </div>

    <div class="eight wide column">
        <table class="ui inverted red one column table" id="table">
            <thead>
                <tr>
                    <th><i class="alarm icon"></i>Alerts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                </tr>
                <tr>
                    <td>Jill</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="eight wide column">
        <table class="ui blue one column table" id="table">
            <thead>
                <tr>
                    <th><i class="checkmark box icon"></i>Tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                </tr>
                <tr>
                    <td>Jill</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="sixteen wide column">
        <table class="ui teal table">
            <thead>
                <tr>
                    <th class="ten wide"><i class="hourglass start icon"></i>Upcoming</th>
                    <th class="six wide"></th>
                </tr>
                <tr>
                    <th class="ten wide">Name</th>
                    <th class="six wide">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Denied</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>