{{> nav}}

<div class="ui main container">
    <div class="row">
        <h2 class="ui center aligned icon header">
            <i class="settings icon"></i> Settings
        </h2>
    </div>
    <!--row-->
    <br>
    <br>
    <div class="ui four column divided centered stackable grid">
        <div class="centered row">
            <div class="column">
                <div class="ui teal segment">
                    <a href=""><img class="ui centered image" src="/assets/images/edit1.svg" height="100" width="100"></a>
                    <a href="">
                        <h4 class="ui center aligned header">Edit Profile</h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui teal segment">
                    <a href="/logout"><img class="ui centered image" src="/assets/images/logout1.svg" height="100" width="100"></a>
                    <a href="/logout">
                        <h4 id="logout" class="ui center aligned header">Log Out</h4>
                    </a>
                </div>
            </div>
        </div>
        <!--stretched row-->