/*ALL PAGES*/

body {
    font-family: 'Muli', sans-serif;

}


/*SIDEBAR*/

div#sidebar,
div#navbar {
    /* background-color: white; */
    background-color: #ff6666;
    border-right-style: solid !important;
    border-right-color: #ff6666 !important;
    margin: 0;
    padding: 0;
}

/* div#sidebar i,
p {
    color: #ff6666;
}

div#sidebar p {
    color: #5A5A5A;
    font-size: .7em;
} */

div#sidebar,
div#navbar i,
p {
    /* color: #ff6666; */
    color: white;
}

div.stretched.row {
    margin-left: 5em;
}

img.ui.image {
    align-items: center;
}

p.footer {
    color: #FBF7F7;
}

div.ui.vertical.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #ff6666 !important;
}



/*MY CARE AND VIEW PATIENT*/

/* div.stretched.row {
    margin-left: 5em;
} */

img.ui.image {
    align-items: center;
}

div.ui.three.column.divided.stackable.grid {
    margin: 0;
}

div.stretched.row {
    margin: 0
}

img.ui.image {
    align-items: center;
}

/* div#mcHeader {
    background-color: #8fdbe5;
} */

#emptyLogin p,
#adminUser p,
#emptyLoginAdmin p,
#incorrectLoginAdmin p,
#incorrectLogin p {
    text-align: center;
}

h2.ui.center.aligned.icon.header {
    color: #ff6666;
}

div.ui.red.segment {
    /* border-style: solid !important;
    /* border-color: #8fdbe5 !important; */
    /*border-color: #ff3e3e; */
}


/*LOGOUT BUTTON*/

div.ui.basic.button {
    float: right !important;
    color: #ff6666 !important;
}

h4.ui.header {
    align-content: center;
}


/* MOBILE */
@media only screen and (max-width: 767px) {
    div.ui.visible.left.vertical.inverted.labeled.icon.sidebar.menu.visible {
        display: none;
    }
    div.ui.bottom.inverted.six.item.labeled.icon.sidebar.menu.visible {
        /* position: relative; */
        position: fixed;
        bottom: 0;
        width: 100%;
        visibility: visible;
    }
    a.item {
        float: left;
        display: block;
        text-align: center;
        font-size: 10px;
        bottom: 0;
    }
    img.ui.image {
        height: 50px;
        width: 50px;
    }
    div.ui.basic.button {
        visibility: hidden;
    }
    th#hide {
        /* visibility: hidden; */
        display: none !important;
    }
    tr#hide {
        display: none !important;
        /* visibility: hidden; */
    }
    h1.ui.header {
        font-size: 20px;
    }
    div#add {
        position: absolute;
        top: 0;
        float: left !important;
    }
    table#table{
        margin-top: 25px;
    }
    /* html {
        margin-bottom: 50px !important;
        padding-bottom: 20px !important;
    } */
}


/* COMPUTER / DESKTOP / IPAD LANDSCAPE */
@media only screen and (min-width: 768px) {
    .ui.bottom.inverted.six.item.labeled.icon.sidebar.menu.visible {
        display: none;
    }
}

form {
    padding: 2em 3.5em;
}

div#typingmessage p {
    color: #ff9999;
}